@{
    ViewData["Title"] = "Home Page";
}
@model Intex2024.Models.ViewModels.ProductListViewModel

<div class="hero-section" style="background: linear-gradient(90deg, rgba(51, 152, 255, 1) 0%, rgba(0, 120, 255, 1) 50%, rgba(0, 56, 168, 1) 100%); color: white; text-align: center; position: relative; height: 92vh; width: 100%">
    <div class="hero-content" style="position: absolute; top: 50% !important; left: 50% !important; transform: translate(-50%, -50%) !important;">
        <h1 style="font-size: 4rem; margin-bottom: 0.5em;">Aurora's Brick Kingdom</h1>
        <p style="font-size: 1.5rem; margin-bottom: 1em; color: white;">Create Masterpieces, Brick by Brick.</p>
        <button class="btn btn-lg" style="font-size: 1rem; padding: 0.75em 1.5em; text-transform: uppercase; background-color: #FDB813; border-color: #FDB813;"
                onclick="scrollToSection()">
            Shop Now
        </button>
    </div>
</div>

<<script>
     document.addEventListener('DOMContentLoaded', function () {
         // Check if there's a hash in the URL
         var hash = window.location.hash;
         if (hash) {
             // Remove the '#' symbol from the hash
             var sectionId = hash.substring(1);
             // Scroll to the section if it exists
             var scroll = document.getElementById(sectionId);
             if (scroll) {
                 scroll.scrollIntoView({ behavior: 'smooth' });
             }
         }
     });

     function scrollToSection() {
         // Find the section with the id 'scroll'
         var section = document.getElementById('scroll');
         if (section) {
             // Scroll to the section smoothly
             section.scrollIntoView({ behavior: 'smooth' });
         }
     }
</script>


<div class="container" id="scroll">
    <br />
    <h1>Recommended for you</h1><br />
    <div class="text-center">
        @if (User.Identity.IsAuthenticated && User.IsInRole("User"))
        {
            <div class="row">
                <div class="col-md-4 d-flex justify-content-center align-items-center">
                    <a href="@Url.Action("ProductDetails", "Home", new { id = Model.Product1.ProductId })" style="color: #444; text-decoration: none;">
                        <div class="card" style="width: 25rem;">
                            <img src="@Model.Product1.ImgLink" class="img-fluid" alt="Product Image">
                            <div class="card-body bg-light">
                                <h5 class="card-title">@Model.Product1.Name</h5>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-4 d-flex justify-content-center align-items-center">
                    <a href="@Url.Action("ProductDetails", "Home", new { id = Model.Product2.ProductId })" style="color: #444; text-decoration: none;">
                        <div class="card" style="width: 25rem;">
                            <img src="@Model.Product2.ImgLink" class="img-fluid" alt="Product Image">
                            <div class="card-body bg-light">
                                <h5 class="card-title">@Model.Product2.Name</h5>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-4 d-flex justify-content-center align-items-center">
                    <a href="@Url.Action("ProductDetails", "Home", new { id = Model.Product3.ProductId })" style="color: #444; text-decoration: none;">
                        <div class="card" style="width: 25rem;">
                            <img src="@Model.Product3.ImgLink" class="img-fluid" alt="Product Image">
                            <div class="card-body bg-light">
                                <h5 class="card-title">@Model.Product3.Name</h5>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        }
        else
        {
            <div class="row">
                <div class="col-md-4 d-flex justify-content-center align-items-center">
                        <a href="@Url.Action("ProductDetails", "Home", new { id = 8 })" style="color: #444; text-decoration: none;">
                        <div class="card" style="width: 25rem; height: 20rem">
                            <img src="https://images.brickset.com/sets/images/7884-1.jpg?200805081137" class="card-img-top" alt="...">
                            <div class="card-body bg-light">
                                <h5 class="card-title">Batman's Buggy: The Escape of Mr. Freeze</h5>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-4 d-flex justify-content-center align-items-center">
                    <a href="@Url.Action("ProductDetails", "Home", new { id = 37 })" style="color: #444; text-decoration: none;">
                        <div class="card" style="width: 25rem; height: 20rem;">
                            <img src="https://www.lego.com/cdn/cs/set/assets/blt47c94c595257dd3a/76429.png?format=webply&fit=bounds&quality=75&width=800&height=800&dpr=1" class="card-img-top" alt="...">
                            <div class="card-body bg-light">
                                <h5 class="card-title">Talking Sorting Hat</h5>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-4 d-flex justify-content-center align-items-center">
                    <a href="@Url.Action("ProductDetails", "Home", new { id = 17 })" style="color: #444; text-decoration: none;">
                        <div class="card" style="width: 25rem; height: 20rem;">
                            <img src="https://images.brickset.com/sets/images/6461-1.jpg" class="card-img-top" alt="...">
                            <div class="card-body bg-light">
                                <h5 class="card-title">Surveillance Chopper</h5>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        }
    </div>

    <br />
    <div class="row">
        <div class="col-md-9">
            <h1>Products</h1>
        </div>

        <div class="col-md-3" style="text-align: right;">
            <p>Items per page</p>
            @using (Html.BeginForm("Index", "Home", FormMethod.Get))
            {
                <select name="pageSize" onchange="this.form.submit();">
                    @if (Model.SelectedPageSize == 5)
                    {
                        <option value="5" selected>5</option>
                    }
                    else
                    {
                        <option value="5">5</option>
                    }

                    @if (Model.SelectedPageSize == 10)
                    {
                        <option value="10" selected>10</option>
                    }
                    else
                    {
                        <option value="10">10</option>
                    }

                    @if (Model.SelectedPageSize == 20)
                    {
                        <option value="20" selected>20</option>
                    }
                    else
                    {
                        <option value="20">20</option>
                    }

                </select>
                <input type="hidden" name="cat" value="@Model.currentCat" />
                <input type="hidden" name="color" value="@Model.currentColor" />
                <input type="hidden" name="pageNum" value="@Model.PaginationInfo.CurrentPage" />
            }
        </div>
    </div><br />






    <div class="container">
        <div class="row">
            <!-- Filters Form Column -->
            <div class="col-md-4">
                <form method="get" action="@Url.Action("Index", "Home")#scroll">
                    <!-- Product Filter Scrollable Box -->
                    <div class="border">
                        <div class="filter-box mb-3" style="max-height: 300px; overflow-y: auto;">
                            <vc:product-filter></vc:product-filter>
                        </div>
                    </div>

                    <br>
                    <!-- Color Filter Scrollable Box -->
                    <div class="border">
                        <div class="filter-box mb-3" style="max-height: 300px; overflow-y: auto;">
                            <vc:color-filter></vc:color-filter>
                        </div>
                    </div>
                    <br />

                    <input type="hidden" name="pageNum" value="@Model.PaginationInfo.CurrentPage" />
                    <button type="submit" class="btn btn-primary">Apply Filters</button>
                </form>
            </div>

            <!-- Product Listings Column -->
            <div class="col-md-8">
                @foreach (Product p in Model.products)
                {
                    <partial name="ProductCard" model="p"></partial>
                }

                <style>
                    .btn-group .btn {
                        margin-right: 20px;
                        margin-left: 20px;
                        margin-bottom: 25px;
                        margin-top: 20px;
                    }
                </style>

                <div page-model="@Model.PaginationInfo" page-action="Index" page-classes-enabled="true" page-class="btn"
                     page-class-normal="btn-outline-dark" page-class-selected="btn-primary" page-url-cat="@Model.currentCat"
                     class="btn-group pull-right m-1"></div>



                @* <div page-model="@Model.PaginationInfo" page-action="Index" page-classes-enabled="true" page-class="btn"
                page-class-normal="btn-outline-dark" page-class-selected="btn-primary" page-url-cat="@Model.currentCat" class="btn-group pull-right m-1"></div>
                *@
            </div>
        </div>
    </div>
</div>


