@model Customer

<div class="card m-1 p-1">
    <div class="row">
        <div class="col">
            <h6>@Model.LastName, @Model.FirstName</h6>
        </div>
        <div class="col">
            <p>@Model.CountryOfResidence</p>
        </div>
        <div class="col">
            <p>@Model.Age</p>
        </div>
        <div class="col">
            <a class="btn btn-primary" asp-controller="Admin" asp-action="EditCustomer" asp-route-id="@Model.CustomerId">Edit</a>
            <a class="btn btn-danger">Delete</a>
        </div>
    </div>
</div>
